.App{
    display: flex;
    height: 98vh;
}

.create-note-group p{
    width: 23vw;
    top :30px;
    left :24px;
    font-size: 31.52px;
    font-weight: 600;
    padding-left: 15px;
}

.note-button{
   background-color: black;
   color: white;
   margin-left: 35px;
   padding: 5px 20px;
   font-size: 15px;
   border-radius: 50px;
   cursor: pointer;
}

.pocket-notes{
    background-color: #F7ECDC;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notes-p{
    width: 38%;
    margin-left: 15px;
}

.new-notes-group{
    position: absolute;
    width: 450px;
    height: 230px;
    background-color: #f0f0f0;
    top: 30%;
    left: 30%;
    border-radius: 6px;
    border: 2px solid purple;
    z-index: 1;
}

.new-notes-group p{
    padding: 0 25px;
}

.note-input label{
    font-size: 22px;
    font-weight: 700;
    margin: 0 28px;
}

.note-input input{
    font-size: 15px;
    margin-left:28px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none
}

.note-color h2{
    font-size: 22px;
    font-weight: bold;
    margin-left: 28px;
    margin-top: 25px;
}

.note-color{
    display: flex;
}

.purple{
    background-color: purple;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.pink{
    background-color: pink;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.lightblue{
    background-color: lightblue;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.brown{
    background-color: brown;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.blue{
    background-color: blue;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.darkmagenta{
    background-color: darkmagenta;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.notes-button{
    background-color: black;
    width: 100px;
    padding: 3px;
    color: white;
    border-radius: 10px;
    float: right;
    margin-right: 14px;
    border: none;
    cursor: pointer;
}

.footer{
    display: flex;
    padding-top: 150px;
}

.footer img{
    margin-right: 10px;
    height: 20px;
    margin-top: 15px;
}

.group-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

h3{
    margin-bottom: 0;
}

.scroll-item{
    overflow-y: scroll;
}

.notes-group{
    background-color: #F7ECDC;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow: hidden;
}

.enter:hover{
    background-color: rgb(212, 207, 207);
}