.App{
    display: flex;
}

.create-note-group{
    background-color: #f0f0f0;
    height: 100vh;
}

.create-note-group p{
    width: 350px;
    height :37px;
    top :30px;
    left :24px;
    font-size: 31.52px;
    font-weight: 600;
    padding-left: 15px;
}

.note-button{
   background-color: black;
   color: white;
   margin-left: 35px;
   padding: 5px 20px;
   font-size: 15px;
   border-radius: 50px;
   cursor: pointer;
}