.App{
    display: flex;
}

.create-note-group{
    background-color: #f0f0f0;
    height: 100vh;
}

.create-note-group p{
    width: 350px;
    height :37px;
    top :30px;
    left :24px;
    font-size: 31.52px;
    font-weight: 600;
    padding-left: 15px;
}

.note-button{
   background-color: black;
   color: white;
   margin-left: 35px;
   padding: 5px 20px;
   font-size: 15px;
   border-radius: 50px;
   cursor: pointer;
}

.pocket-notes{
    background-color: #F7ECDC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notes-p{
    width: 38%;
    margin-left: 15px;
}

.new-notes-group{
    position: absolute;
    width: 450px;
    height: 230px;
    background-color: #f0f0f0;
    top: 30%;
    left: 30%;
    border-radius: 6px;
}

.new-notes-group p{
    padding: 0 25px;
}

.note-input label{
    font-size: 22px;
    font-weight: 700;
    margin: 0 28px;
}

.note-input input{
    font-size: 15px;
    margin-left:28px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none
}

.note-color h2{
    font-size: 22px;
    font-weight: bold;
    margin-left: 28px;
    margin-top: 25px;
}

.note-color{
    display: flex;
}

.purple{
    background-color: #B38BFA;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.pink{
    background-color: #FF79F2;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.light-blue{
    background-color: #43E6FC;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.brown{
    background-color: #F19576;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.blue{
    background-color: #0047FF;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.dark-purple{
    background-color: #6691FF;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 25px;
    cursor: pointer;
}

.notes-button{
    background-color: black;
    width: 100px;
    padding: 3px;
    color: white;
    border-radius: 10px;
    float: right;
    margin-right: 14px;
    border: none;
    cursor: pointer;
}
